a {
  color: $color-black;
  // padding-bottom: 2px;
  // border-bottom: 2px solid transparent;
  // @include transition(border-color 0.3s ease-in-out);
}
a:hover {
  // border-bottom: 2px solid $color-black;
}
em {
  font-style: italic;
}
.base {
}
.base h1 {
}
.base h2 {
}
.base h3 {
}
.base h4 {
}
.base h5 {
}
.base h6 {
}

.base p, .base ul, .base ol {

}

.base p {
	color: $color-text;
  font-family: $type-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin: 0 0 1em;
  @include respond-to(tablet) {
    font-size: 18px;
    line-height: 22px;
  }
  @include respond-to(mobile) {
    font-size: 18px;
    line-height: 22px;
  }
}

.base a {
  color: $color-black;
  text-decoration: none;
  // padding-bottom: 2px;
  // border-bottom: 1px solid $color-black;
  &:hover {
    border: 0;
  }
}

.base ul, .base ol {
  margin: 0;
  color: $color-white;
}

.base ul li {
  list-style-type: disc;
}

.base ol li {
  list-style-type: decimal;
}

.base blockquote {

}

.base {
  a:link { -webkit-tap-highlight-color: #FF5E99; }
}
