$columnWidth: 84px;
$columns: 12;
$contentWidth: $columnWidth * $columns;
$bodyFontSize: 16px;

$type-serif: "skolar", Georgia, times, serif;
$type-sans: 'Whitney A', 'Whitney B', Helvetica, sans-serif;

// colors
$color-pink: #ff5757;
$color-green: #4da756;
$color-white: #fff;
$color-black: #000;
$color-bg: 	  #f6f6f6;
$color-text:  #4a4638;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin baseTransition($property: all) {
  @include transition-property($property);
  @include transition-duration(0.5s);
}