{% include 'includes/header' %}
<div id="lazyjson" class="thumbs">

    <!-- template -->
    <!-- template ID uses prefix 'template-' and ID of container by default -->
    <div id="template-lazyjson" class="thumbnail">
    {% raw %}
        <a href="{{data.url}}">
          <h3>{{data.title}}</h3>
          <div class="image" style="background-image: url('{{data.image}}')">
          </div>
        </a>
    {% endraw %}
    </div>
    <!-- /template -->

</div>
{% include 'includes/footer' %}
