* {
	@include box-sizing(border-box);
	@include baseTransition;
}
body {
	// background-color: $color-bg;
	background-color: black;
	color: white;
	font-family: $type-sans;
}
img {
	max-width: 100%;
	@include baseTransition;
}

.content {
	// margin: 0 2%;
	@include clearfix;
	position: relative;
}
img {
	margin: 0 auto;
	display: block;
}

hr {
	width: 1em;
	height: 4px;
	display: block;
	background-color: $color-black;
	border: 0;
	margin: 50px 0;
	float: left;
}

p {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
}


h1 {
	color: white;
	font-size: 56px;
	line-height: 60px;
	font-weight: bold;
	a {
		color: white;
		text-decoration: none;
	}
}
