#purpose {
	.intro {
		font-size: 32px;
		line-height: 40px;
		font-family: $type-serif;
		margin-top: 50px;
		margin-bottom: 30px;
		@include respond-to(mobile) {
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 15px;
		}
	}
	.half {
		width: 48%;
		float: left;
		margin-right: 4%;
		@include respond-to(mobile) {
			width: 100%;
			margin-right: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	.interview {
		padding: 0;
		.title {
			.wrap {
				width: 90%;
			}
			p {
				font-size: 0.9rem;
				line-height: 1.0rem;
			}
		}

		h2 {
			font-size: 26px;
		}
		p {
			font-size: 1.1rem;
			line-height: 1.5rem;
		}

	}
}