/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/modules/_functions.scss */
.cf {
  content: "";
  display: table;
  clear: both;
}

/* apply a natural box layout model to all elements */
/* line 27, ../sass/modules/_functions.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/lib/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/lib/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/lib/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../sass/lib/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, ../sass/lib/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 74, ../sass/lib/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, ../sass/lib/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../sass/lib/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, ../sass/lib/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, ../sass/lib/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 126, ../sass/lib/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, ../sass/lib/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 142, ../sass/lib/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 152, ../sass/lib/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 164, ../sass/lib/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, ../sass/lib/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 181, ../sass/lib/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, ../sass/lib/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, ../sass/lib/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, ../sass/lib/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 209, ../sass/lib/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, ../sass/lib/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, ../sass/lib/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, ../sass/lib/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 253, ../sass/lib/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, ../sass/lib/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 278, ../sass/lib/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, ../sass/lib/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 302, ../sass/lib/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 317, ../sass/lib/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 327, ../sass/lib/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 337, ../sass/lib/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 348, ../sass/lib/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 361, ../sass/lib/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 370, ../sass/lib/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 380, ../sass/lib/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 393, ../sass/lib/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "SSStandard";
  src: url("/webfonts/ss-standard.eot");
  src: url("/webfonts/ss-standard.eot?#iefix") format("embedded-opentype"), url("/webfonts/ss-standard.woff") format("woff"), url("/webfonts/ss-standard.ttf") format("truetype"), url("/webfonts/ss-standard.svg#SSStandard") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
/* line 14, ../sass/lib/_type.scss */
html:hover .ss-icon {
  -ms-zoom: 1;
}

/* line 18, ../sass/lib/_type.scss */
.ss-icon, .ss-icon.ss-standard,
.ss-icon:before, .ss-icon.ss-standard:before,
.ss-icon.right:after, .ss-icon.ss-standard.right:after {
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../sass/section/_common.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 5, ../sass/section/_common.scss */
body {
  background-color: black;
  color: white;
  font-family: "Whitney A", "Whitney B", Helvetica, sans-serif;
}

/* line 11, ../sass/section/_common.scss */
img {
  max-width: 100%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 16, ../sass/section/_common.scss */
.content {
  min-height: 0;
  position: relative;
}
/* line 22, ../sass/modules/_functions.scss */
.content:before, .content:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 23, ../sass/modules/_functions.scss */
.content:after {
  clear: both;
}

/* line 21, ../sass/section/_common.scss */
img {
  margin: 0 auto;
  display: block;
}

/* line 26, ../sass/section/_common.scss */
hr {
  width: 1em;
  height: 4px;
  display: block;
  background-color: black;
  border: 0;
  margin: 50px 0;
  float: left;
}

/* line 36, ../sass/section/_common.scss */
p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

/* line 43, ../sass/section/_common.scss */
h1 {
  color: white;
  font-size: 56px;
  line-height: 60px;
  font-weight: bold;
}
/* line 48, ../sass/section/_common.scss */
h1 a {
  color: white;
  text-decoration: none;
}

/* line 1, ../sass/section/_header.scss */
.header {
  text-align: center;
  background: white;
  padding: 30px 5%;
}
/* line 6, ../sass/section/_header.scss */
.header a {
  text-decoration: none;
}
/* line 9, ../sass/section/_header.scss */
.header h1 {
  font-size: 18px;
  font-family: "Whitney A", "Whitney B", Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.35em;
  font-weight: 500;
  margin: 0.67em 0 0.5em;
}
/* line 16, ../sass/section/_header.scss */
.header h1 a {
  color: black;
}
/* line 20, ../sass/section/_header.scss */
.header p {
  font-family: "skolar", Georgia, times, serif;
  font-style: italic;
  color: rgba(74, 70, 56, 0.6);
  font-size: 14px;
  line-height: 20px;
}

/* line 1, ../sass/section/_footer.scss */
footer {
  clear: both;
  background-color: rgba(0, 0, 0, 0.02);
  margin-top: 100px;
  padding: 50px 5%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
/* line 7, ../sass/section/_footer.scss */
footer p {
  font-family: "Whitney A", "Whitney B", Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
/* line 12, ../sass/section/_footer.scss */
footer a {
  text-decoration: none;
}
/* line 15, ../sass/section/_footer.scss */
footer span {
  font-size: 0.7em;
  margin-right: 5px;
}

@media only screen and (min-width: 641px) {
  /* line 2, ../sass/section/_interview.scss */
  .interview .pic {
    display: block;
    float: left;
    margin-left: 25.50505%;
    margin-right: -100%;
    width: 74.49495%;
  }
}
/* line 9, ../sass/section/_interview.scss */
.interview .description {
  padding: 20px 10%;
}
@media only screen and (min-width: 641px) {
  /* line 9, ../sass/section/_interview.scss */
  .interview .description {
    padding: 60px 3%;
    position: absolute;
    bottom: 0;
    display: block;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    width: 23.48485%;
  }
}
/* line 18, ../sass/section/_interview.scss */
.interview .description strong {
  display: block;
  margin: 15px 0 5px;
}

/* line 1, ../sass/_base.scss */
a {
  color: black;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 7, ../sass/_base.scss */
a:hover {
  border-bottom: 2px solid black;
}

/* line 10, ../sass/_base.scss */
em {
  font-style: italic;
}

/* line 32, ../sass/_base.scss */
.base p {
  color: #4a4638;
  font-family: "Whitney A", "Whitney B", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin: 0 0 1em;
}

/* line 50, ../sass/_base.scss */
.base a {
  color: black;
  text-decoration: none;
}
/* line 55, ../sass/_base.scss */
.base a:hover {
  border: 0;
}

/* line 60, ../sass/_base.scss */
.base ul, .base ol {
  margin: 0;
  color: white;
}

/* line 65, ../sass/_base.scss */
.base ul li {
  list-style-type: disc;
}

/* line 69, ../sass/_base.scss */
.base ol li {
  list-style-type: decimal;
}

/* line 78, ../sass/_base.scss */
.base a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* ==|== non-semantic helper classes ======================================== */
/* line 4, ../sass/_tools.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 5, ../sass/_tools.scss */
.ir br {
  display: none;
}

/* line 6, ../sass/_tools.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 7, ../sass/_tools.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 8, ../sass/_tools.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 9, ../sass/_tools.scss */
.invisible {
  visibility: hidden;
}

/* line 10, ../sass/_tools.scss */
.required {
  color: red;
}

/* line 11, ../sass/_tools.scss */
.floatl {
  float: left;
  margin: 0;
  padding: 0 10px 10px 0;
}

/* line 12, ../sass/_tools.scss */
.floatr {
  float: right;
  margin: 0;
  padding: 0 0 10px 10px;
}

/* line 13, ../sass/_tools.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 14, ../sass/_tools.scss */
.clearfix:after {
  clear: both;
}

/* line 15, ../sass/_tools.scss */
.clearfix {
  *zoom: 1;
}

/* line 17, ../sass/_tools.scss */
::-moz-selection {
  background: #1fb9e7;
  color: #fff;
  text-shadow: none;
}

/* line 18, ../sass/_tools.scss */
::selection {
  background: #1fb9e7;
  color: #fff;
  text-shadow: none;
}
